<%-include("header")-%>
<body>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    

    <img class ="kageyama" src="https://i.pinimg.com/originals/71/2d/fe/712dfe4fef4a1af43b382f03bfc094b5.png" alt="">
    <img class="hinata" src="https://www.teahub.io/photos/full/66-669866_we-heart-it-desktop-wallpaper-quotation-haikyuu-gif.png" alt="">
    <div class="box">

        <% newListItems.forEach(function(item){ %>
      <form action="/delete" method="post">
          
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()" >
                <p><%=item.name%></p>
            </div>
         
         <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
        <%  }) %>
           <form class="item"action="/" method="post">
            <input type="text" name="newItem" placeholder="NewItem" autocomplete="off" >
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </div>
    
    </form>
</body>
</html>